{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运维平台-管理-机器详情页面</title>

    <link rel="icon" href="{% static 'img/machine_detail.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'static/assets/bk/css/bk.css' %}">

</head>
<body>

    <div class="king-exception-box king-403-page">
        <img src="https://magicbox.bk.tencent.com/static_api/v3/components/exception_building/images/building.png">
        <h1>机器详情页面 正在建设中...</h1>
        <!--<a href="javascript:;" class="king-btn king-info">立即跳转</a>-->
    </div>
</body>
</html>